@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ededed;
  
  --font-sans: var(--font-inter), sans-serif;
  --font-mono: var(--font-mono), monospace;
}

@layer base {
  *, ::after, ::before, ::backdrop, ::file-selector-button {
    border-color: var(--color-gray-800, currentColor);
  }
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
}